
.wrapper{
    height: 72px;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
}

.inner{
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    height: 52px;
}

.search{
    height: 52px;
    border: 1px solid #ccc;
    width: 900px;
    border-radius: 50px;
    outline: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;

    .search-input{
        flex:1;
        margin:0 16px;
        border: none;
        outline: none;
        font-size: 20px;
        caret-color: #aaa;
        &::placeholder{
            font-size: 20px;
        }
    }

    .icon-search{
        cursor: pointer;
        font-size: 20px;
    }

    .icon-clear{
        cursor: pointer;
        font-size: 20px;
    }
}


.tools{
    display: flex;
    align-items: center;
    .icon-setting{
        height: 40px;
        cursor: pointer;
    }

    .icon-user{
        height: 48px;
        cursor: pointer;
    }
}